
.app {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__content {
        margin-top: 12.5em;
        display: flex;
        flex-direction: column;
    }
    &__input {
        width: 35vh;
        border: 1px solid grey;
        border-radius: 4px;
        padding: 7px;
        margin-top: 5px;
    }
    &__button {
        margin-top: 10px;
        width: 35vh;
        background-color: #234422;
        border: none;
        border-radius: 5px;
        color: white;
        padding: 8px;
        font-weight: bold;
    }
    &__label {
        font-size: 2.5em;
        color: black;
        font-weight: bold;
    }
}